<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://unpkg.com/select2@4.0.3/dist/css/select2.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">

  <script src="countries.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/jquery@3.1.1/dist/jquery.js"></script>
  <script src="https://unpkg.com/select2@4.0.3/dist/js/select2.js"></script>

  <title>My New Page</title>
  <link rel="icon" href="ico.png" type="image/gif">

  <style>
    select 
    {
      width: 200px;      
    }
    .flag-text 
    {
      margin-left: 10px;
    }
    .icon-block 
    {
      padding: 0 15px;
    }
    .icon-block .material-icons 
    {
	    font-size: inherit;
    }
    #settings
    {
      margin: 20px;
      position: absolute;
      top: 40px
    }
    #searchbox
    {      
      width:548px;
      height:40px;      
    }
    
  </style>
</head>
<body>
      <div class="row">

         <div class="col s1 m10" >
              <a style="margin:10px" class="waves-effect waves-green btn grey" onClick="showSettings()"><i class="material-icons">settings</i></a>
         </div>       

          <div class="col s12 m2">
            <div v-show="city != null" id="currentforecast">           
              <div class="card z-depth-3 grey lighten-5 hoverable">
                <div class="icon-block">
                  <div class="center"><img :src="icon"></div>                        
                  <h5 class="center" style="color:grey">{{city}}  {{temp}}°C</h5>            
                  <p class="center" style="color:dimgrey">{{description}}</p><br>                        
              </div>                     
            </div>                    
          </div>
        </div> 

      </div> 
      
      <div v-show="isSettingsShown" id="settings">
          <br>
          <div id="countrySelector"></div>
          <br>
          <div id="citySelector"></div>
          <br>
          <div v-show="city != null" id="button">
            <button onClick="onSubmit()" class="btn waves-effect waves-red green" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
            <label style="margin:10px">
                <input type="checkbox" id="remember"/>
                <span>Remember choise</span>
            </label>      
          </div>
          <br> 
          <label>Show forecast for</label>          
          <select class="browser-default" style="width:50px">            
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <label>Days</label>
      </div>

      <div class="row center">
          <iframe src="https://duckduckgo.com/search.html?width=490&prefill=Search " id="searchbox" frameborder="0"></iframe>
      </div>

      <br><br>   

    <div class="container">
        <div class="section">
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Speeds up development</h5>    
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                <h5 class="center">User Experience Focused</h5>    
                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Easy to work with</h5>    
                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
              </div>
            </div>
          </div>
    
        </div>
        <br><br>
      </div>  

      <div class="container footer-copyright">
        <label>
          © 2019 <a href="mailto:berlinkovlev@gmail.com" style="color:grey;">Lev Berlinkov</a>      
        </label>
      </div>        
  
  <!-- using string template here to work around HTML <option> placement restriction -->
  <script type="text/x-template" id="demo-template">
    <div>        
      <select2 :options="options" v-model="selected">
        <option disabled value="0">Select</option>
      </select2>
    </div>
  </script>

  <script type="text/x-template" id="demo-template">
      <div>
        <p>{{ selected }}</p>
        <select2 :options="options" v-model="selected">
          <option disabled value="0">Select</option>
        </select2>
      </div>
    </script>

  <script type="text/x-template" id="country-template">
      <select>
          <slot></slot>
      </select>
  </script>

  <script src="index.js"></script>

</body>

</html>